<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <img src="{{site.url}}\images\profile.jpg" style="border-radius: 50%;"/>
    <p><small>{{ site.description }}</small></p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    <a class="sidebar-nav-item" href="http://trashvin.blogspot.com">Old Blog</a>
    <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
  </nav>
  <div class="sidebar-item">
    <p>
      <small>
      Disclaimer
      The content on this site represents my own personal opinions and thoughts at the time of posting, and does not reflect those of my employer in any way. The postings are provided "as is" with no warranties, and confer no rights.
      </small> 
    </p>
  </div>
  <div class="sidebar-item">
    <p>
      v{{site.version}}.A Kafənātəd Project &copy; {{ site.time | date: '%Y' }}.<br/>All rights reserved.
    </p>
  </div>
</div>
